.container {
  width: 414px;
  height: 720px;
  border: 1px solid blue;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.header {
  background-color: #3da9fc;
  width: 100%;
  padding: 22px 12px;
  height: 154px;
}

.backIcon {
  position: absolute;
  left: 18px;
  top: 26px;
  font-size: 26px;
  color: #fff;
}

.createTodo {
  border-radius: 22px 22px 0px 0px;
  margin-top: -40px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 50px 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.titleInput {
  height: 40px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid gray;
}

.description {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.descriptionInput {
  padding: 8px;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
}

.buttonsRow {
  display: flex;
  gap: 22px;
}

.buttons {
  width: 100%;
  height: 60px;
  padding: 16px 0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.buttons:hover {
  box-shadow: 2px 2px black;
  border: 0 2px 2px 0 solid black;
}

.saveBtn {
  background-color: #3da9fc;
}
.saveBtn:hover {
  background-color: #328ed4;
}

.deleteBtn {
  background-color: #ef4565;
}
.deleteBtn:hover {
  background-color: #bf344d;
}
